/*---------------------
  Header (dropdown tu icon user)
-----------------------*/

.header__item__dropdown {
    list-style: none;
    display: inline-block;
    position: relative;
}

.header__item__dropdown .header__menu__dropdown {
    position: absolute;
    top: 50px;
    background: #222222;
    /* height: 5vh; */
    /* width: 30vw; */
    z-index: 9;
    padding: 5px 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
    float: right;
}

.header__item__dropdown .header__menu__dropdown li {
    left: -440px;
    display: block;
}

.header__item__dropdown .header__menu__dropdown li:hover>a {
    color: #7fad39;
}

.header__item__dropdown .header__menu__dropdown li a {
    font-size: 15px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
    width: 240px;
    text-align: center;
}

.header__item__dropdown:hover .header__menu__dropdown {
    top: 30px;
    opacity: 1;
    visibility: visible;
}

.header__item__dropdown:hover>a {
    color: #7fad39;
}

.header__item__dropdown:last-child {
    margin-right: 0;
}

.header__item__dropdown a {
    font-size: 15px;
    color: #252525;
    font-weight: 700;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
}


/* responsive header hamburger */

.header__menu__dropdown.dropdown_right {
    left: -100px;
}

.header__menu__dropdown.dropdown_login_right {
    left: 0px;
}

.float-right {
    float: right;
}

.header__menu__dropdown.dropdown_left {
    left: -200px;
}

.header__menu__dropdown.dropdown_login {
    left: -100px;
}


/* tooltip text */

.tooltipHeader .tooltiptext {
    visibility: hidden;
    top: 24px;
    min-width: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    height: 24px;
    font-size: 14px;
    text-align: center;
    right: -250%;
}

.tooltipHeader:hover .tooltiptext {
    visibility: visible;
}