<!-- Footer Section Begin -->
<footer class="footer padding-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 padding-vh-5">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a [routerLink]="['/home']"><img src="assets/img/logo-chu.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__widget">
                    <h4>Thông tin nhà hàng</h4>
                    <p>Nhà hàng Ba Miền luôn là đơn vị tiên phong trong lĩnh vực đồ ăn và phục vụ. Đến với chúng tôi sẽ được trải nghiệm tất cả các dịch cũng cũng như không gian thơ mộng của các vùng miền trên cả nước để bạn có cảm giác thư giãn, thư thái
                        trong lúc lấp đầy dạ dày của bạn.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__about">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li>Address: Thạch Thất - Hà Nội</li>
                        <li>Phone: +84 11.188.8888</li>
                        <li>Email: bamien123@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->