/* responsive elements  */

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .product__discount__item__pic.slider {
        height: 205px !important;
        width: 205px !important;
    }
    .product__item__text.slider {
        width: 205px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .padding-20w {
        padding-left: 10%;
        padding-right: 10%;
    }
    .border-round {
        border-radius: 33px;
    }
    .border-round-dialog {
        border-radius: 14px;
    }
    .top-bannerbg {
        margin-top: 33px;
        height: 44px;
        max-height: 44px;
    }
    .top-banner-title {
        padding-top: 22px;
        height: 77px;
        max-height: 77px;
    }
    .padding-vh-topbottom {
        padding-top: 80px;
        padding-bottom: 4vh;
    }
    .padding-5-top {
        padding-top: 3.5%;
    }
    .line-separator {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .dialog-block {
        min-width: 50%;
    }
    .product__discount__item__pic.slider {
        height: 190px !important;
        width: 190px !important;
    }
    .product__item__text.slider {
        width: 190px !important;
    }
}

@media only screen and (max-width: 767px) {
    .padding-20w {
        padding-left: 0%;
        padding-right: 0%;
    }
    .footer-ybwc-desc.title {
        font-size: 1.5rem;
    }
    .border-round {
        border-radius: 25px;
    }
    .border-round-dialog {
        border-radius: 10px;
    }
    .top-bannerbg {
        margin-top: 33px;
        height: 25px;
        max-height: 25px;
    }
    .top-banner-title {
        padding-top: 15px;
        height: 55px;
        max-height: 55px;
    }
    .padding-vh-topbottom {
        padding-top: 55px;
        padding-bottom: 3vh;
    }
    .padding-5-top {
        padding-top: 2.5%;
    }
    .line-separator {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .hero__search__form form .hero__search__categories {
        display: block;
    }
    .hero__search__form form input {
        width: 70%;
    }
    .dialog-block {
        min-width: 60%;
    }
    .line-separator-menu {
        border-right: blue;
    }
    .product__discount__item__pic.slider {
        height: 200px !important;
        width: 200px !important;
    }
    .product__item__text.slider {
        width: 200px !important;
    }
}

@media only screen and (max-width: 479px) {
    .padding-20w {
        padding-left: 0%;
        padding-right: 0%;
    }
    .footer-ybwc-desc.title {
        font-size: 1rem;
    }
    .border-round {
        border-radius: 25px;
    }
    .border-round-dialog {
        border-radius: 7px;
    }
    .top-bannerbg {
        margin-top: 25px;
        height: 22.5px;
        max-height: 22.5px;
    }
    .top-banner-title {
        padding-top: 15px;
        height: 47.5px;
        max-height: 47.5px;
    }
    .padding-vh-topbottom {
        padding-top: 55px;
        padding-bottom: 2vh;
    }
    .padding-5-top {
        padding-top: 2%;
    }
    .dialog-block {
        min-width: 70%;
        padding-bottom: 20px;
    }
    .product__discount__item__pic.slider {
        height: 250px !important;
        width: 250px !important;
    }
    .product__item__text.slider {
        width: 250px !important;
    }
}