/* background and other stuffs */

html,
body {}

.background-wooden {
    /* background-image: url("/assets/images/wooden-bg.jpg"); */
    background-image: url("/assets/img/background/background-2.jpg");
    background-position: 0% 20%;
}

.background-transparent {
    background: transparent;
}

.background-inherit {
    background-image: inherit;
}

.padding-20w {
    padding-right: 20%;
    padding-left: 20%;
}

.padding-0w {
    padding-right: 0%;
    padding-left: 0%;
}

.padding-0 {
    padding: 0 !important;
}

.padding-5-top {
    padding-top: 5%
}

.margin-5 {
    margin: 5%;
}

.padding-5 {
    padding: 5%;
}

.padding-5-important {
    padding: 5% !important;
}

.overflow-hidden {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: sticky;
    /* min-width: 40vw; */
}

.float-center {
    text-align: center;
}

.float-left {
    text-align: left;
}

.white-font {
    color: white;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-25 {
    width: 25%;
    right: 75%;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.height-auto {
    height: auto;
}

.alt-login-item {
    width: 25%;
    display: inline-block;
}

.height-100 {
    height: 100%;
}

.top-50 {
    top: 50%;
}

.height-75 {
    height: 75%;
}

.bg-white {
    color: #000000;
    background: rgb(46 46 46);
}


/* Split the screen in half */

.split {
    /*position: fixed;*/
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
}


/* Control the left side */

.left {
    left: 0;
}


/* Control the right side */

.right {
    right: 0;
}


/* Control the bottom and top side */

.top {
    margin-top: 0vh;
    /* height: 75%; */
    height: inherit;
    display: table;
    overflow: overlay;
    text-align: center;
    padding: 0%;
}

.top-left {
    margin-top: 20%;
    height: 70%;
    text-align: center;
    opacity: 1;
}

.top-bannerbg {
    position: absolute;
    margin-top: 50px;
    height: 50px;
    max-height: 50px;
    width: 100%;
}

.top-banner-title {
    padding-top: 33px;
    position: absolute;
    height: 70px;
    max-height: 70px;
    width: 100%;
}

.padding-vh-topbottom {
    padding-top: 120px;
    padding-bottom: 5vh;
}

.padding-vh-5 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.form-check-input {
    position: relative;
    margin: 0;
    margin-left: 0 !important;
}

.top-left:hover,
.top-left:focus {
    opacity: 1;
}

.border-round {
    border-radius: 50px;
    /* border: 4px solid #FFF; */
}

.border-round-dialog {
    border-radius: 20px;
    /* border: 4px solid #FFF; */
}

.middle-top {
    position: absolute;
    bottom: 55%;
    height: 48%;
    text-align: center;
}

.bottom {
    top: 70%;
    height: 30%;
    text-align: center;
    /* background-position: 0% 90%; */
}


/* If you want the content centered horizontally and vertically */

.centered {
    position: sticky;
    text-align: center;
}


/* Style the image inside the centered container, if needed */

.centered img {
    width: 100px;
    border-radius: 50%;
}

.page-padder-100 {
    height: auto;
    display: grid;
}


/* font button and textbox */

.footer-ybwc-desc {
    font-family: Montserrat, sans-serif !important;
}

.ybwc-warning {
    font-family: Montserrat, sans-serif !important;
    color: red;
}

.ybwc-success {
    font-family: Montserrat, sans-serif !important;
    color: rgb(127, 173, 57) !important;
}

.footer-ybwc-desc.title {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.footer-ybwc-desc.desc {
    font-size: 1.5rem;
}

.login-button-bg {
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    background: rgb(127, 173, 57);
    font-family: Montserrat, sans-serif !important;
    text-align: center;
    border-radius: 100px;
    border: none;
}

.login-button-bg.login-button-bg-cancel {
    color: #ffffff;
    background: rgb(187, 51, 51);
}

.ybwc-link {
    font-size: 15px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
}

.ybwc-link:hover {
    color: #7fad39;
}

.login-button {
    text-transform: uppercase;
}

.login-button-bg:hover {
    background: #dddddd;
    color: #000000;
}

.login-button:after {
    border-color: #b3b3b3;
    stroke: #b3b3b3;
}


/* ///// */

.login-textbox {
    border-color: #b3b3b3 !important;
    color: #313131 !important;
    background-color: transparent !important;
    text-align: left;
    display: initial;
}

.login-textbox:hover,
.login-textbox:focus {
    border-color: #b3b3b3 !important;
    color: #000000 !important;
    font-weight: bold;
    background-color: transparent !important;
}


/* Nhà hàng ba miền css */

.background-secondarycolor {
    background: rgb(127, 173, 57);
}

.background-errorcolor {
    background: rgb(170, 48, 48);
}

.background-warningcolor {
    background: rgb(183, 194, 25);
}

.form-check {
    padding-left: 0;
}

.line-separator {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    transform-origin: center 0px;
    left: 25%;
    right: 25%;
    height: 1px;
    background-color: #d7d7d7;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.line-separator-menu {
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right: 1px solid #d7d7d7;
}

.line-separator-header {
    padding-right: 15px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
}

.line-separator-header-mobile {
    padding-right: 9px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
}


/* warning and validations  */

.ybwc-warning-username .notfullfilled {
    color: red;
}

.ybwc-warning-username .fullfilled {
    color: rgb(127, 173, 57);
}

.notfullfilled:after {
    position: absolute;
    right: 18px;
    top: 9px;
    content: "3";
    font-family: "ElegantIcons";
    font-size: 18px;
    color: #ffffff;
}

.mat-input-element {
    border: 1px solid #ced4da;
    -webkit-appearance: initial;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


/* material */

span.mat-radio-outer-circle {
    display: none;
}

.mat-form-field-label-wrapper {
    top: 5vh;
    text-align: center;
    display: none;
}

.display-none {
    display: none;
}

.dialog-block {
    margin-top: 25vh;
    /* height: 75%; */
    /* height: inherit; */
    display: table;
    overflow: overlay;
    text-align: center;
    background-color: white;
    height: auto;
    min-width: 40%;
}

.dialog-block-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100001;
    background-color: rgba(0, 0, 0, 0.75);
}

.btn-success {
    background-color: rgb(127, 173, 57) !important;
}

.btn-success:hover {
    background-color: rgb(104, 139, 50) !important;
}

.primary-btn {
    background-color: rgb(127, 173, 57);
}

.primary-btn:hover {
    background-color: rgb(104, 139, 50);
}

.menu-item-image {
    /* height: 8vw; */
    width: 8vw;
}

.cursor-auto {
    cursor: auto;
}

.checkout__input input {
    color: #202020;
}

.product__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.product__item__pic__hover li:hover a.red {
    background: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
}

.product__order__guest__notification {
    background-color: rgba(127, 173, 57, 0.75);
    color: rgba(255, 255, 255, 1);
    margin-bottom: -24px;
    padding-bottom: 4.5%;
    padding-top: 4.5%;
    height: 75px;
}

.product__order__guest__notification__menu {
    background-color: rgba(127, 173, 57, 0.75);
    color: rgba(255, 255, 255, 1);
    margin-bottom: -25px;
    padding-bottom: 5%;
    padding-top: 5%;
    height: 75px;
}

.product__discount__percent {
    height: 45px;
    width: 45px;
    background: #dd2222;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 15px;
    top: 15px;
}

.category:hover {
    cursor: pointer;
}

.product__detail__view {
    height: 70%;
}

.cursor-pointer {
    cursor: pointer;
}


/* fix radio button  */

.mat-radio-inner-circle {
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: transform ease 280ms, background-color ease 280ms, opacity linear 1ms 280ms;
    width: 18px !important;
    height: 18px !important;
    transform: scale(0.001);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    color: #7fad39 !important;
    background-color: #7fad39 !important;
}

.mat-radio-persistent-ripple {
    background-color: #7fad39 !important;
}

.mat-radio-container {
    border: 1px solid #7fad39;
    border-radius: 50%;
    border-width: 1px;
}


/* input-group-text direction */

.input-group-text {
    margin-top: -1px;
    height: 40px !important;
}

.input-group-text.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.input-group-text.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}


/* .btn direction */

.btn.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.btn.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.product__discount__item.slider {
    width: 100% !important;
    height: 100% !important;
    padding-left: 10%;
    padding-right: 10%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.product__discount__item__pic.slider {
    max-width: 100% !important;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    border-color: rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-style: solid;
    height: 250px !important;
    width: 250px !important;
}

.product__item__text.slider {
    width: 250px;
    max-width: 100%;
}

.notifier__notification-message {
    color: #ffffff;
}